.full-container.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    padding: 0;
    gap: 50px;
}

.grid-about-home {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
    z-index: 10;
}

.grid-item-about {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.about-logo {
    width: 100%;
    max-width: 200px;
}

.grid-about-home:first-child .grid-item-about:last-child {
    z-index: 100;
}

.grid-item-about h2,
.grid-item-about h5,
.grid-item-about p {
    color: var(--text-primary-color);
}


.grid-about-home:last-child{
    position: relative;
}

.grid-about-home:last-child .grid-item-about{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
}

.grid-item-about .about-render{
    width: 100%;
    max-width: 400px;
}

.grid-about-home:nth-child(2){
    padding: 50px 0;
}

.grid-about-home:nth-child(2) .grid-item-about{
    padding-right: 100px;
}

.grid-about-home:last-child .grid-item-about{
    padding-bottom: 70px;
}


@media (min-width: 1024px) {

    .about-container .grid-about-home:first-child .grid-item-about:first-child {
        display: none;
    }

    .grid-about-home {
        grid-template-columns: 10fr 9fr;
        height: 100%;
        font-size: 18px;
    }

    .grid-about-home:first-child .grid-item-about:nth-child(2),
    .grid-about-home:first-child .grid-item-about:last-child{
        padding: 200px 0 0;
    }

    .grid-about-home:first-child .grid-item-about:nth-child(2){
        padding-right: 50px;
    }

    .about-container::after {
        -webkit-clip-path: polygon(0 100%, 100% 25%, 100% 100%, 0 100%);
        clip-path: polygon(0 100%, 100% 25%, 100% 100%, 0 100%);
    }

    .grid-item-about:last-child {
        margin-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        padding: 0 0 40px;
    }

    .grid-item-about:nth-child(2) {
        padding: 50px 0 0;
    }
}

@media (min-width: 1280px) {

    .grid-about-home {
        font-size: 20px;
    }

    .grid-item-about:nth-child(2) p {
        font-size: 22px;
    }

    .about-logo {
        margin-top: 20px;
    }

    .about-render{
        width: 100%;
        height: auto;
    }
}